<h1 class="text-3xl">Precios de la aplicación</h1>
<hr class="my-2">
<section>
  <p class="mb-4">
    adsflñk asdñflk adsfñlkdsajf ñlkadsjf ñladskjf adsñlkfj adsñlkfj añdlsfkjdspñlagjdcpiobgvdfhsopighdfsiop dfspjlkoñgn
    dfslñgkjnds fñlkgsd
    adsflñk asdñflk adsfñlkdsajf ñlkadsjf ñladskjf adsñlkfj adsñlkfj añdlsfkjdspñlagjdcpiobgvdfhsopighdfsiop dfspjlkoñgn
    dfslñgkjnds fñlkgsd
    adsflñk asdñflk adsfñlkdsajf ñlkadsjf ñladskjf adsñlkfj adsñlkfj añdlsfkjdspñlagjdcpiobgvdfhsopighdfsiop dfspjlkoñgn
    dfslñgkjnds fñlkgsd
    adsflñk asdñflk adsfñlkdsajf ñlkadsjf ñladskjf adsñlkfj adsñlkfj añdlsfkjdspñlagjdcpiobgvdfhsopighdfsiop dfspjlkoñgn
    dfslñgkjnds fñlkgsd
    adsflñk asdñflk adsfñlkdsajf ñlkadsjf ñladskjf adsñlkfj adsñlkfj añdlsfkjdspñlagjdcpiobgvdfhsopighdfsiop dfspjlkoñgn
    dfslñgkjnds fñlkgsd

  </p>
</section>
